<!DOCTYPE html>
<head>
  <title>Dossier - Provider Profiles</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Generate biogrpahy</h3>
  <form action="/" method="post">
    <input type="text" name="person" placeholder="Enter the name of a provider" required />
    <input type="text" name="field" placeholder="Medical field" required />
    <input type="submit" value="Generate profile" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
